body {
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f7f4;
    color: #474747;

}

/* HEADER */

.customNav {
    background-color: #f9f7f4 !important;
}

.navbar-brand, .navbar-nav {
    color: #474747;
}

.navbar-brand {
    font-family: Lora;
}

.navbar-brand:hover {
    color: #474747;
}

.navbar-collapse {
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

/* HOME */

.jumbotron {
    margin-top: 4rem;
}

h1{
    font-family: Lora;
}

.end {
    margin-bottom: 4rem;
}

.container {
    display: flex;
}

.sectionTitle {
    padding-bottom: 4rem;
}

.card {
    border: transparent
}

span {
    color: #474747;
}

span:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 8rem;
}

/* ABOUT */

.pageTitle {
    margin-top: 4rem;
}

.bio {
    margin-right: 2rem;
}

.headshot {
    width: 320px;
    height: auto;
}

.link {
    text-decoration: underline;
    color: #474747;
}

.link:hover {
    font-weight: 700;
}

/* PROJECTS */

iframe {
    width: 100%;
    margin-top: 4rem;
}

h4 {
    margin-top: 2rem;
}

.subSection {
    margin-bottom: 2rem
}

/* FOOTER */


#footerInitials {
    font-family: Lora;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;

}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
 

    .container {
        display: block;
    }

    .projectPhoto {
        margin-top: 1rem;
    }

    .projectDetails {
        margin-bottom: 1rem;
    }

    .sectionBreak {
        visibility: visible;
    }
}